<footer class="footer">
    <div class="footer-container">
        <div class="footer-section-1">
            <div class="line-left"></div>
            <div class="footer-icons">
             <a href=""><i class="fa-brands fa-reddit-alien nav-social-link"></i></a>
            <div>/</div>
            <a href=""><i class="fa-brands fa-x-twitter nav-social-link"></i></a>
            <div>/</div>
            <a href=""><i class="fa-brands fa-discord nav-social-link"></i></a>
            </div>
            <div class="line-right"></div>
        </div>
        <div class="footer-section-2">
            <div>Project Mindstep</div>
            <div class="copyright"> <span>&copy; Copyright <strong><%= new Date().getFullYear() %> Project Mindstep.</strong></span> <span>All Rights Reserved</span></div>
        </div>
    </div>
</footer>
<script src="/js/navbar.js"></script>
</body>
</html>