<%- include('partials/header')%>

<section class="main">
  <div class="main-container">
    <h1 class="main-title">The mind holds secrets-will you take the plunge?</h1>
    <p>Explore the full series and stay up to date with the latest chapter releases. More stories may be coming soon, so keep your eyes peeled!</p>
    <div class="main-book-container">
      <div class="main-book-card">
        <img src="/assets/images/Mindstep Cover.png" alt="Mindstep Book Illustration" class="main-book-img">
        <a href="/book1">
          <h2 class="main-subtitle">Book-1</h2>
        </a>
        <p>Last Updated: <%= lastUpdatedDate %></p>
      </div>
      <div class="main-book-card">
        <img src="/assets/images/Mindstep Cover.png" alt="Mindstep Book Illustration" class="main-book-img">
        <a href="">
            <h2 class="main-subtitle">Book-2</h2>
        </a>
        <p>Coming Soon...</p>
      </div>
      <div class="main-book-card">
        <img src="/assets/images/Mindstep Cover.png" alt="Mindstep Book Illustration" class="main-book-img">
        <a href="">
            <h2 class="main-subtitle">Book-3</h2>
        </a>
        <p>Coming Soon...</p>
      </div>
    </div>
  </div>
</section>

<%- include('partials/footer')%>