<%- include('partials/header')%>
<section class="main">
  <div class="main-container">
    <h1 class="synopsis-title">Dive into the magical land of mindstep</h1>
    <img src="/assets/images/Hospital_Room.png" alt="Mindstep World Illustration" class="synopsis-img">
    <p class="synopsis-subtext">When he was six years old, Asher Nephesh lost nearly everything—his parents, his home, and even his memories. All that remains are two people he holds close to his heart: his chaotic best friend, Takashi Hoso, and the ever-gentle Fleur Bellerose.
      But when Asher is drawn into a mysterious dreamscape, he begins to uncover unsettling truths—memories buried not just by time, but by intention…</p>
    <h1 class="synopsis-title">Get to know the team</h1>
    <div class="synopsis-team-container">
      <div class="synopsis-team-card">
        <div class="synopsis-team-info">
          <img src="/assets/images/Steele.jpg" alt="Steele's Profile Image" class="synopsis-team-img">
          <div class="synopsis-team-text">
            <h2 class="synopsis-subtitle">Steele</h2>
            <span>Author</span>
            <p>I'm the writer and creator of Project: Mindstep. I write stories, create music, and explore just about anything creative—though you'd have to catch me dead before you'd find me doing absolutely nothing!</p>
            <h3 class="synopsis-subtitle-2">Get in touch</h3>
            <div class="synopsis-team-socials">
              <a href="https://x.com/SteeleAust37492" target="_blank"><i class="fa-brands fa-x-twitter nav-social-link"></i></a>
              <a href="https://www.instagram.com/steele_ram_" target="_blank"><i class="fa-brands fa-instagram nav-social-link"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="synopsis-team-card">
        <div class="synopsis-team-info">
          <div class="synopsis-team-text">
            <h2 class="synopsis-subtitle">Artiul</h2>
            <span>Illustrator</span>
            <p>Artiul is an artist who loves creating animations and character illustrations. Whether it’s designing unique characters or bringing stories to life, he is all about making cool, creative visuals.</p>
            <p>In short, He draws stuff.</p>
            <h3 class="synopsis-subtitle-2">Get in touch</h3>
            <div class="synopsis-team-socials">
              <a href="https://x.com/Real_Artiul" target="_blank"><i class="fa-brands fa-x-twitter nav-social-link"></i></a>
              <a href="https://www.instagram.com/real_artiul/" target="_blank"><i class="fa-brands fa-instagram nav-social-link"></i></a>
            </div>
          </div>
          <img src="/assets/images/Artiul.jpg" alt="Artiul's Profile Image" class="synopsis-team-img">
        </div>
      </div>
      <div class="synopsis-team-card">
        <div class="synopsis-team-info">
          <img src="/assets/images/Nyaanite.gif" alt="Nyaanite's Profile Image" class="synopsis-team-img">
          <div class="synopsis-team-text">
            <h2 class="synopsis-subtitle">Nyaanite</h2>
            <span>Character Designer</span>
            <p>I am an anime-style artist who makes cute illustrations and fanart! I hope you enjoy my work! \(^o^)/</p>
            <h3 class="synopsis-subtitle-2">Get in touch</h3>
            <div class="synopsis-team-socials">
              <a href="https://x.com/nyaanite" target="_blank"><i class="fa-brands fa-x-twitter nav-social-link"></i></a>
              <a href="https://www.instagram.com/nyaanite" target="_blank"><i class="fa-brands fa-instagram nav-social-link"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="synopsis-team-card">
        <div class="synopsis-team-info">
          <div class="synopsis-team-text">
            <h2 class="synopsis-subtitle">Nathan Walker</h2>
            <span>Editor</span>
            <p>I'm the editor for Project: Mindstep and an amateur writer/musician. Aside from music and literature, my other passions include movies, anime, and devotion to the Great Old Ones.</p>
            <h3 class="synopsis-subtitle-2">Get in touch</h3>
            <div class="synopsis-team-socials">
              <a href="https://www.instagram.com/n.walker289" target="_blank"><i class="fa-brands fa-instagram nav-social-link"></i></a>
            </div>
          </div>
          <img src="/assets/images/Nathan.jpg" alt="Nathan's Profile Image" class="synopsis-team-img">
        </div>
      </div>
      <div class="synopsis-team-card">
        <div class="synopsis-team-info">
          <img src="/assets/images/Zion.PNG" alt="Zion's Profile Image" class="synopsis-team-img">
          <div class="synopsis-team-text">
            <h2 class="synopsis-subtitle">Zion</h2>
            <span>Web Designer</span>
            <p>I'm an illustrator, web developer, and 3D enthusiast who loves blending art with code. Whether it’s drawing, building websites, or experimenting with 3D design, I’m all about bringing ideas to life in fun and creative ways. For me, it’s all about exploring new ways to mix design, tech, and a little bit of imagination!</p>
            <h3 class="synopsis-subtitle-2">Get in touch</h3>
            <div class="synopsis-team-socials">
              <a href="https://x.com/zion_arts_" target="_blank"><i class="fa-brands fa-x-twitter nav-social-link"></i></a>
              <a href="https://www.instagram.com/zion_arts_/" target="_blank"><i class="fa-brands fa-instagram nav-social-link"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('partials/footer')%>
</body>
</html>