<%- include('partials/header')%>
<section class="main">
  <div class="main-container">
    <h1 class="main-title">Dive into the magical land of mindstep</h1>
    <img src="/assets/images/Mansion.png" alt="Mindstep World Illustration" class="main-img">
    <p>When he was six years old, Asher Nephesh lost nearly everything—his parents, his home, and even his memories. All that remains are two people he holds close to his heart: his chaotic best friend, Takashi Hoso, and the ever-gentle Fleur Bellerose.
      But when Asher is drawn into a mysterious dreamscape, he begins to uncover unsettling truths—memories buried not just by time, but by intention…</p>
    <h1 class="main-title">Get to know the team</h1>
    <div class="main-team-container">
      <div class="main-team-info">
        <img src="/assets/images/Illustration.png" alt="" class="main-team-img">
        <div class="main-team-text">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id augue lacinia enim scelerisque porttitor sed et lectus. Praesent sit amet convallis nibh, vitae maximus diam. Donec at euismod nulla. Quisque commodo risus purus, vel sollicitudin mi accumsan eget. Quisque tristique iaculis metus, vel hendrerit risus commodo et. Vivamus ut porta est. Donec eget fermentum felis, ut mollis neque. Sed at blandit nisl, eu porttitor quam. Duis mauris metus, consequat ac velit et, dictum posuere tortor. Phasellus maximus pellentesque metus, ut vehicula nulla rutrum tempus.</p>
          <h2 class="main-subtitle">Get in touch</h2>
          <div class="main-team-socials">
            <a href="" target="_blank"><i class="fa-brands fa-x-twitter nav-social-link"></i></a>
            <a href="" target="_blank"><i class="fa-brands fa-instagram nav-social-link"></i></a>
            <a href="" target="_blank"><i class="fa-brands fa-discord nav-social-link"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="main-team-container">
      <div class="main-team-info">
        <div class="main-team-text">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id augue lacinia enim scelerisque porttitor sed et lectus. Praesent sit amet convallis nibh, vitae maximus diam. Donec at euismod nulla. Quisque commodo risus purus, vel sollicitudin mi accumsan eget. Quisque tristique iaculis metus, vel hendrerit risus commodo et. Vivamus ut porta est. Donec eget fermentum felis, ut mollis neque. Sed at blandit nisl, eu porttitor quam. Duis mauris metus, consequat ac velit et, dictum posuere tortor. Phasellus maximus pellentesque metus, ut vehicula nulla rutrum tempus.</p>
          <h2 class="main-subtitle">Get in touch</h2>
          <div class="main-team-socials">
            <a href="" target="_blank"><i class="fa-brands fa-x-twitter nav-social-link"></i></a>
            <a href="" target="_blank"><i class="fa-brands fa-instagram nav-social-link"></i></a>
            <a href="" target="_blank"><i class="fa-brands fa-discord nav-social-link"></i></a>
          </div>
        </div>
        <img src="/assets/images/Illustration.png" alt="" class="main-team-img">
      </div>
    </div>
    <div class="main-team-container">
      <div class="main-team-info">
        <img src="/assets/images/Illustration.png" alt="" class="main-team-img">
        <div class="main-team-text">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id augue lacinia enim scelerisque porttitor sed et lectus. Praesent sit amet convallis nibh, vitae maximus diam. Donec at euismod nulla. Quisque commodo risus purus, vel sollicitudin mi accumsan eget. Quisque tristique iaculis metus, vel hendrerit risus commodo et. Vivamus ut porta est. Donec eget fermentum felis, ut mollis neque. Sed at blandit nisl, eu porttitor quam. Duis mauris metus, consequat ac velit et, dictum posuere tortor. Phasellus maximus pellentesque metus, ut vehicula nulla rutrum tempus.</p>
          <h2 class="main-subtitle">Get in touch</h2>
          <div class="main-team-socials">
            <a href="" target="_blank"><i class="fa-brands fa-x-twitter nav-social-link"></i></a>
            <a href="" target="_blank"><i class="fa-brands fa-instagram nav-social-link"></i></a>
            <a href="" target="_blank"><i class="fa-brands fa-discord nav-social-link"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('partials/footer')%>