<%- include('partials/header')%>
<section class="main">
    <div class="main-container">
        <h1 class="welcome-title">Welcome to the official website for project: mindstep!</h1>
        <video class="welcome-video" loop autoplay muted>
          <source src="/assets/mind.mp4" type="video/mp4">
        </video>
        <div class="welcome-content-1">
            <p>This novel series has been a labor of love, into which I’ve poured countless hours and effort. As a full-time student working part-time, crafting this narrative has brought me immense joy, and I’m excited to finally share it with you. If you’re reading this, I’m truly grateful that you’ve given my work a chance.</p>
            <p>This story has been a long time in the making, and I’m thrilled to see it come to life. Along the way, I’ve benefited from thoughtful feedback from fellow writers, stunning art from two talented artists, and a beautiful website built by a skilled designer. I feel incredibly fortunate to work with such wonderful collaborators, and I hope you, as the reader, will see not just my effort, but also the contributions of everyone who helped bring this project to life.</p>    
        </div>
        <div class="welcome-content-2">
            <img src="/assets/images/Fountain.png" alt="Mindstep World Illustration" class="welcome-content-img">
            <p>On this site, you can read the novel for <strong>FREE</strong> - no strings attached. I want this story to be accessible to anyone who wants to enjoy it. However, I ask for your trust in return. <strong>Please do not redistribute this work.</strong> While I fully support the preservation of creative works, I do not wish for my story to be shared or reproduced in any form without my written permission. If you'd like to spread the word, the best way to support the project is to share the link to this website—it’s a simple and direct way to help both the artists and readers access the novel for free.</p>
        </div>
        <div class="welcome-content-3">
            <p>Finally, I want to encourage respectful interaction in the comment forums. These spaces are meant to foster community discussion and genuine reactions to the story. I believe that creative works thrive when audiences can connect, and your feedback helps me understand what resonates with readers. Your insights, whether praise or critique, are invaluable to me as a creator.</p>
        </div>
    </div>
</section>
<%- include('partials/footer')%>
</body>
</html>